@font-face {
  font-family: "NHU";
  src: url("../fonts/NHU-Regular.ttf");
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "NHU", sans-serif;
  font-size: 1rem;
  color: #111;
}

body {
  margin: 2rem;
  box-sizing: border-box;
  height: calc(100vh - 4rem);
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #416593;
}

h1 {
  font-size: 1rem;
}

hr {
  border: none;
  width: 50%;
  height: 1px;
  background-color: #555;
  opacity: 0.2;
}

#snakeCanvas {
  position: absolute; 
	z-index: -1;
}

.wrapper {
  max-width: 67rem;
  height: 27rem;
  background-color: rgba(241, 241, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.portrait {
  height: 100%;
  flex: 2.4;
  overflow: hidden;
	opacity: 0.8;
	filter: contrast(110%) brightness(80%);
}

.portrait img {
  height: 100%;
  transform: translate(-15%, 0);
}

.info {
  flex: 3;
  padding: 1rem 2rem;
}

.links a {
  margin-right: 0.5rem;
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 950px) {
  html {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    display: block;
    max-width: 40rem;
    height: auto;
  }

  .portrait {
    height: 20rem;
  }

  .portrait img {
    transform: translate(0, -15%);
    height: 30rem;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    max-width: 35rem;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    width: 100%;
    max-width: none;
  }

  .portrait {
    height: 15rem;
  }

  .portrait img {
    transform: translate(0, -15%);
    height: 28rem;
  }
}

@media screen and (max-width: 361px) {
  .portrait {
    height: 15rem;
  }

  .portrait img {
    transform: translate(-10%, -15%);
    height: 28rem;
  }
}

@media screen and (max-width: 300px) {
  .portrait {
    height: 10rem;
  }

  .portrait img {
    transform: translate(-10%, -15%);
    height: 24rem;
  }
}

@media screen and (max-width: 270px) {
  .portrait {
    display: none;
  }
}

@media screen and (max-width: 850px) and (max-height: 600px) {
  html {
    font-size: 0.6rem;
  }

  .portrait {
    height: 12rem;
  }

  .portrait img {
    transform: translate(0, -15%);
    height: 30rem;
  }
}

@media screen and (max-width: 350px) and (max-height: 600px) {
  .portrait img {
    transform: translate(-10%, -15%);
    height: 30rem;
  }
}

@media screen and (max-width: 300px) and (max-height: 600px) {
  .portrait img {
    transform: translate(-15%, -15%);
    height: 30rem;
  }
}

@media screen and (max-width: 850px) and (max-height: 510px) {
  .portrait {
    display: none;
  }
}

